@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;400;600&display=swap');

/* Фон*/
body{
    background-color: #e5e5e5;
}
* { 
    margin: 0; /* внешний отступ */
    padding: 0; /* внутрений отступ */ 
}

/* Шапка */
.main-header{
    width: 100%;
    height: 186px;
    min-width: 2300px;
    background-color: black;
}


.main-header__quantity{
    font-family: 'Exo 2', sans-serif;
    color: #406665;
}
.main-header__quantity1{
    position: relative;
    left: 5%;
    top: 23px;
}
.main-header__quantity2{
    position: relative;
    left: 12%;
    top: 3px;
}
.main-header__quantity__color{
    color: #2ECC71;

}

.logo{
    position: relative;
    left: 5%;
    bottom: 120px;
}

.main-header__menu{
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}
.main-header__menu__item1{
    position: relative;
    left: 33%;
    bottom: 170px;
}
.main-header__menu__item2{
    position: relative;
    left: 37%;
    bottom: 170px;
}
.main-header__menu__item3{
    position: relative;
    left: 41%;
    bottom: 170px;
}
.main-header__menu__item4{
    position: relative;
    left: 45%;
    bottom: 170px;
}
.main-header__menu__item5{
    position: relative;
    left: 49%;
    bottom: 170px;
}
.main-header__menu__item6{
    position: relative;
    left: 53%;
    bottom: 170px;
}
.main-header__button1{
    position: relative;
    left: 50%;
    bottom: 170px;
}